
/*
	This file is part of Mining Visualizer.

	Mining Visualizer is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	Mining Visualizer is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with cpp-ethereum.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
	margin: 0px;
}

h1, div, section {
	color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 17px;
}

h1 {
	text-align: center;
	margin :0px;
	padding: 5px;
	background-color:rgba(0,0,0,0.52);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

section {
	width: 100%;
	font-weight: 100;
	background-color:rgba(0,0,0,0.36);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-sizing: border-box;
	padding: 8px;
}

#WidgetBody {
	display: table;
}

div {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding: 0px;
}

.Values {
  text-align: right;
}

p {
	margin: 0px;
	margin-bottom: 5px;
}

#Offline p {
  text-align: center;
  padding: 20px;
}

