lib
collector.app
collector
*.lps
MiningVisualizer
*.plist
MiningVisualizer.app
MiningVisualizer.dbg
heap.trc
*.bak
*.res
_vti_*
resources/images/
backup/
*.dbg
tests/config/config.json
tests/config/
tests/log.txt
tests/unittests.fpcunit.ini
resources/DocumentRoot/plugins/
release.bat
MVis-Release.exe
*.exe
tests/
Release/
