
/*	
	This file is part of Mining Visualizer.

	Mining Visualizer is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	Mining Visualizer is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with cpp-ethereum.  If not, see <http://www.gnu.org/licenses/>.
*/


body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 10pt;
	margin: 0px;
	color: #666666;
    text-align: center;
}

p, label {
	opacity: 0.75;
}

h1 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 14pt;
	color: #272727;
}

header {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C0C0C0;
    text-align: center;
    height:61px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

header a {
	padding: 20px 5px 20px 5px;
    display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration-line: none;
	color: #3D3D3D;
	width: 115px;
}

header a:hover { 
	border-bottom: 3px #0088EA solid;
}



